<h1>New situation</h1>
<%= form_with(model: @situation) do |form| %>
  <% if @situation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@situation.errors.count, "error") %> prohibited this situation from being saved:</h2>

      <ul>
        <% @situation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div style="height: 300px; overflow-y: scroll;">
    <% @hands.each do |h| %>
      <div style="font-size: 0">
        <% h.cards.order(:suit_id, :value_id).each do |card| %>
          <img src="/<%= card.short %>_left.png" style="border:0px">
        <% end %>
        <img src="/<%= h.cards.last.short %>_right.png" style="border:0px">
      </div>
      <div>
        <input type="radio" name="situation[hand_id]" value="<%= h.id %>"><%= h.htype %>, HP: <%= h.hp %>
      </div>
      <br>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>


